.header {
    height: 100vh;
    width: 100%;
    background-image: url('../img/figure.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-logo {
    height:250px;
    width: 250px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.header-text {
    font-size:40px;
    font-family: 'pink-floyd', sans-serif;
    margin: 0;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}